$sizeH : 36px;
$white:#fff;
$dark:#000;
$grismedio: #ccc;
$grisclaro: #ddd;
$ancho : 8.33333%;
$sizefont : ("-tiny":10px,"-small":12px,"-medium":15px,"-large":18px,"-xlarge":24px,"-xxlarge":36px,"-xxxlarge":48px,"-jumbo":64px);


