//Variable de inicio para el tamaño de los h1
$sizeH : 36px;

// variable para el color blanco
$white:#fff;

// variable para el color negro
$dark:#000;

//variable para el color gris medio
$grismedio: #ccc;

//variable para el color gris claro
$grisclaro: #ddd;


// variable para el ancho de los .w3 col 
$ancho : 8.33%;

// variable para establecer los distintos tamaños de una fuente
$sizefont : ("-tiny":10px,"-small":12px,"-medium":15px,"-large":18px,"-xlarge":24px,"-xxlarge":36px,"-xxxlarge":48px,"-jumbo":64px);





