/*
---ESTRUCTURA---
    header
    nav
    section - div 
    footer

---Fuente---
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;

---Colores---
    green 
    hotpink
    blue
    black
    skyblue
    yellow  
*/

/*Creamos una clase container que contiene todos nuestros elementos*/
.container {
    display: grid;
    grid-gap: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Creamos nuestro header*/
header {
    grid-column: 1 / 3;
    grid-row: 1;
    border: solid 2px green;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
}

/*Creamos nuestra barra de navegación*/
nav {
    grid-column: 1 / 3;
    grid-row: 2;
    border: solid 2px hotpink;
    border-radius: 10px;
}

/*Disponemos con flex en el centro a los elementos que contiene la lista*/
ul {
    display: flex;
    justify-content: center;
}

/*Establecemos las propiedades de los elementos de la lista*/
li {
    list-style: none;
    color: black;
    padding: 0.2em;
}

/*Utilizamos un selector de hijo para estos 2 elementos de la lista
y desplazarlo a la derecha, para comprobar que 
funciona cambiamos el color, por ejemplo*/
ul li:last-child {
    color: blue;
    justify-content: end;
}

ul li:nth-child(5) {
    color: blue;
    justify-content: end;
}

/*Creamos un section para agrupar todos nuestros article*/
section {
    grid-column: 1 / 2;
    grid-row: 3;
    text-align: center;
    margin: 0%;
}

/*Establecemos las propiedades de nuestros article*/
article {
    border: solid 2px skyblue;
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    margin-bottom: 1em;
}

/*Accedemos al section dentro de nuestros article porque queremos establecer 
propiedades diferentes al section global*/
article section {
    border: solid 2px hotpink;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    padding: 1%;
}

/*Creamos un div y asignamos esta clase para agrupar los dos aside laterales*/
.DA {
    grid-column: 2 / 3;
    grid-row: 3;
    border: solid 2px yellow;
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 425px;
    text-align: center;
   
}

/*Establecemos las propiedades de los aside laterales*/
.DA aside {
    border: solid 2px skyblue;
    border-radius: 10px;
    padding: 2%;
    height: auto;
    width: 80%;
    margin-bottom: auto;
    margin-top: auto;
}

/*Por último definimos el footer de nuestro layout*/
footer {
    grid-column: 1 / 3;
    grid-row: 4;
    border: solid 2px yellow;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    justify-content: space-around;
}

/*Establecemos una mediaquery para modificar el layout a una determinada
resolución mínima y máxima*/
@media (min-width: 376px) and (max-width: 666px) {

    section {
        grid-column: 1 / 3;
        grid-row: 3;
        padding: 1%;
    }

    .DA {
        grid-column: 1 / 3;
        grid-row: 4;
        padding: 1%;
    }

    footer {
        grid-column: 1 / 3;
        grid-row: 5;
        padding: 1%;
    }
    
}